<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Shelf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:href="@{/js/script.js}"></script>
</head>

<body>
<section class="pic d-flex justify-content-center align-items-center bg-light ">
    <div class="container mb-5">
        <div align="center">

            <div class="card border-success mb-3" style="margin-top: 80px;margin-bottom:50px;">
                <div class="row g-0">
                    <div class="col-md-3 bg-dark" style="border-right: 8px solid #121212;">
                        <!--left side bg -->
                        <div class="backbtn mt-5" >
                            <a href="/shelf/" <span> <i class="fa-solid fa-circle-left"></i> </span>Back to Lists</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-header bg-transparent border-success">
                            <h4>Add Shelf</h4>
                        </div>
                        <div class="card-body">


                            <form th:action="@{/shelf/save}" method="post" th:object="${shelf}" class="mt-2">
                                <!--    Shelf Level -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default"> Shelf Level</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" id="validationDefault01"
                                        th:field="*{level}" name="level" placeholder="Shelf Level " th:value="${shelf.level}" required >
                                </div>

                                <!--  Shelf shelfNumber -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default"> Shelf Number</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" id="validationDefault01"
                                        th:field="*{shelfNumber}" name="shelfNumber" placeholder="shelf serial Number " th:value="${shelf.shelfNumber}" required >
                                </div>

                                <!--  Shelf Placement -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default"> Shelf Placement</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" id="validationDefault01"
                                        th:field="*{placement}" name="placement" placeholder="placement " th:value="${shelf.placement}" required >
                                </div>

                                <!-- Rack details -->

									<div class="input-group mb-3">
										<span class="input-group-text">Rack </span>
										<select th:field="*{rack}" class="form-select " aria-label="Default select example"
											name="rack"   required>
											<th:block th:each="list : ${listRack}">
												<option th:text="${list.rid}" th:value="${list.rid}"></option>
											</th:block>
										</select>

									</div>

                                    <!-- Box details -->

									<div class="input-group mb-3">
										<span class="input-group-text">Boxes </span>
										<select th:field="*{boxes}" class="form-select " aria-label="Default select example"
											name="boxes"   required>
											<th:block th:each="list : ${listBoxes}">
												<option th:text="${list.id}" th:value="${list.id}"></option>
											</th:block>
										</select>

									</div>

                                <div class="card-footer bg-transparent  d-grid gap-2 m-25"
                                    style="max-width: 100%;margin-top: 50px;">
                                    <button class="btn btn-success " type="submit">ADD SHELF</button>
                                </div>
                        </form>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>