<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<!-- base is the name of the default web page (base.html) and in section we need to write whole body  -->
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">


<!-- Optional JavaScript; choose one of the two! -->


<!-- Option 1: Bootstrap Bundle with Proper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<!-- Option 2: Separate Proper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

<link rel="stylesheet" th:href="@{/css/style.css}" />

<title>Edit/Update a New Box</title>
</head>
<body>

	<section class="pic d-flex justify-content-center align-items-center bg-light ">
		<div class="container mb-5">
			<div align="center">

				<div class="card border-success mb-3" style="margin-top: 80px;margin-bottom:50px;">
					<div class="row g-0">
						<div class="col-md-3 bg-dark" style="border-right: 8px solid #121212;">
							<!--left side bg -->
							<div class="backbtn mt-5" >
								<a href="/Boxes/getAll" <span> <i class="fa-solid fa-circle-left"></i> </span>Back to Lists</a>
							</div>
						</div>
						<div class="col-md-8">
							<div class="card-header bg-transparent border-success">
								<h4>Edit/Update a New Box</h4>
							</div>
							<div class="card-body">

					<form  th:action="@{/Boxes/updatedBox/{id}(id=${boxes.id})}" method="post"
					th:object="${boxes}">

					<div class="input-group mb-3">
						<span class="input-group-text" id="inputGroup-sizing-default"> Box ID </span>
						<input type="text" class="form-control" aria-label="Sizing example input"
							aria-describedby="inputGroup-sizing-default" id="validationDefault01"
							th:value="${boxes.id}" 	th:field="*{id}"	name="id" placeholder="Enter the Box ID" readonly="readonly" >
						</div>
					</div>
		<!--   name -->
		<div class="input-group mb-3">
			<span class="input-group-text" id="inputGroup-sizing-default"> Name </span>
			<input type="text" class="form-control" aria-label="Sizing example input"
				aria-describedby="inputGroup-sizing-default" id="validationDefault01"  th:field="*{name}"
				name="name" placeholder="Box identity name as small,medium,large " required>
				<!-- th:value="${boxes.name}" th:field="*{name}" -->
		</div>
		<!--   Dimension -->
		<div class="input-group mb-3">
			<span class="input-group-text" id="inputGroup-sizing-default"> Dimension</span>
			<input type="text" class="form-control" aria-label="Sizing example input"
				aria-describedby="inputGroup-sizing-default" id="validationDefault01"
				name="dimension" placeholder="dimension of a box " required>
				<!-- th:value="${boxes.dimension}" 	th:field="*{dimension}" -->
		</div>

		<!--   Weight -->
		<div class="input-group mb-3">
			<span class="input-group-text" id="inputGroup-sizing-default"> Weight</span>
			<input type="text" class="form-control" aria-label="Sizing example input"
				aria-describedby="inputGroup-sizing-default" id="validationDefault01"
				name="weight" placeholder="weight of a box " required>
				<!-- th:value="${boxes.weight}" 	th:field="*{weight}" -->
		</div>

		<div class="card-footer bg-transparent  d-grid gap-2 m-25"
		style="max-width: 100%;margin-top: 50px;">
<button class="btn btn-success " type="submit">Update</button>
</div>

				</form>

			</div>
		</div>
	</div>
	</div>
</div>
</div>
</div>
</section>
</body>
</html>
